/* BASE */
ul {
	list-style-type: none;
}

p {
	font-size: 1.25rem;
}

/* BLOCKS */
.document__header, .introduction, .schedule--saturday, .schedule--sunday {
	background-color: #fff;
	background-color: hsla(0, 100%, 100%, .9);
	padding: 1em 5em 5em 5em;
}

.navigation--main {
	/*padding-top: 2rem;*/
	text-align: right;
}

.navigation--main__item{
	display: inline-block;
	font-size: .85em;
	font-weight: 500;
	padding: .5em;
	text-align: center;
	text-transform: uppercase;
	width: 10em;
}

.navigation--main__item:hover{
	background-color: Orange;
	background-color: hsla(39, 100%, 50%, .35);
	border-radius: .25em;
}

.navigation--main__item--active{
	background-color: Orange;
	background-color: hsla(39, 100%, 50%, .65);
	border-radius: .25em;
	color: #fff;
	text-shadow: 2px 2px 2px hsla(39, 100%, 40%, .65);
}

.logo--museum {
/*	padding-top: 2rem;*/
	width: 100%;
}

.logo--chicago24 {
/*	padding-bottom: 3rem;
	padding-top: 1rem;*/
	width: 100%;
}

.logo--chicago24--home {
	padding-bottom: 2rem;
	padding-top: 3rem;
}

.button--see-schedule {
	box-shadow: 1px 3px 2px #999;
	text-transform: uppercase;
	transition: box-shadow 0.5s ease;
}

.button--see-schedule:hover {
	box-shadow: 0 0 0 #999;
}

html .home {
  background: url(../img/eg-pilsen.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.introduction__title {
	font-weight: 400;
}

html .schedule {
/*  background: url(../img/eg-pilsen.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;*/
  background-color: #000;
}

/*// Small screens*/
@media only screen {
} /* Define mobile styles */

@media only screen and (max-width: 40em) {
	.hide--small {
		display: none;
	}

	.introduction{
		margin-top: 3em;
	}

	.introduction, .schedule--saturday, .schedule--sunday {
		background-color: hsla(0, 100%, 100%, .9);
		padding: 1em 1em 1em 1em;
	}

	.introduction__title {
		font-size: 1.35em;
		font-weight: 500;
		margin-top: 0em;
		margin-bottom: 0;
	}

	.logo--chicago24--home {
		padding-bottom: 1rem;
		padding-top: 2rem;
	}

	.button--see-schedule {
		width: 100%;
}

	.time--small {
		display: block;
	}

	.schedule__date {
		display: inline;
	}

} /* max-width 640px, mobile-only styles, use when QAing mobile issues */

/*// Medium screens*/
@media only screen and (min-width: 40.063em) {
	.hide--large {
		display: none;
	}
} /* min-width 641px, medium screens */

@media only screen and (min-width: 40.063em) and (max-width: 64em) {
	.hide--large {
		display: none;
	}
} /* min-width 641px and max-width 1024px, use when QAing tablet-only issues */

/*// Large screens*/
@media only screen and (min-width: 64.063em) {
	.hide--large {
		display: none;
	}
} /* min-width 1025px, large screens */

@media only screen and (min-width: 64.063em) and (max-width: 90em) {
	.hide--large {
		display: none;
	}
} /* min-width 1024px and max-width 1440px, use when QAing large screen-only issues */

/*// XLarge screens*/
@media only screen and (min-width: 90.063em) {
	.hide--large {
		display: none;
	}
} /* min-width 1441px, xlarge screens */

@media only screen and (min-width: 90.063em) and (max-width: 120em) {
	.hide--large {
		display: none;
	}
} /* min-width 1441px and max-width 1920px, use when QAing xlarge screen-only issues */

/*// XXLarge screens*/
@media only screen and (min-width: 120.063em) {
	.hide--large {
		display: none;
	}
} /* min-width 1921px, xlarge screens */
