ul {
	list-style-type: none;
}

.document__logo--museum {
	padding-top: 3rem;
	width: 45%;
}

.document__logo--chicago24 {
	padding-bottom: 3rem;
	padding-top: 4rem;
	width: 70%;
}

.navigation__main {
	margin: 0 auto;
	padding-top: 2rem;
	text-align: right;
}

.navigation__main li{
	display: inline;
	padding-right: 3rem;
}

.hide {
	display: none;
}

.tour__filter {
	display: inline;
}

.ad--tour-packages {
	float: right;
}